html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Quattrocento Sans', sans-serif;
	color: #212529;
	background-color: 	#e8e8e8;
	background-size: cover;
}

.landing-page {
	height: 100%;
	background: linear-gradient(90deg, #0E1319 50%, #D9D9DA 50%);  
	height: 100vh;
}

.division-letter {
	color: #e8e8e8;
	font-weight: bold;
}

.division-letter2 {
	color:  lightcoral;
}

.introduction, .heading {
	color: 	black;
	font-weight: 800;
	font-size: 50px;
}



.sub-introduction {
	font-size: 25px;
	font-weight: bold;
	font-size: 20px;
}


.logo {
	margin-top: 10vh;
	width: 200px;
}

#projects {
	background: #0E1319;
}

.img-adjuster {
	margin:0 auto 150px auto;
	max-width: 250px;
	max-height: auto;
	filter: grayscale(100%);
}


.profile-pic {
	width: 100%;
	position: absolute;
	top:-30vh;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
	filter: grayscale(100%);
	box-shadow: 8px 8px #888888;
}


.lang {
	width: 3rem;
	padding: auto;
}

nav {
	font-weight: 600;
}


 .navbar-brand {
	color: #ECDCC9 !important;
	font-size: 25px;
}

.nav-link {
	color: #FFFFFF !important;
	font-size: 22px;
}


.card {
	max-width: 100%;
	height: 100%;
	background-color: #e8e8e8;
	border-radius: 5px;
}

.card-img-top {
	filter: grayscale(100%);
}

.skills-image img {
	width: 100px;
	margin: 25px;
	filter: grayscale(100%);
}

 .btn {
	background: #0E1319;
  border: solid 2px black;
  padding: .375em 1.125em;
  font-size: 1rem;
	color: white;
}

.btn:hover {
	background: white;
	color:#0E1319
}

#projects h2 {
	color: white;
}

.message {
	color: #0E1319;
	font-weight: bolder;
}


@media screen and (max-height: 670px) {
	.img-adjuster {
		margin-top: 70px;
		margin-bottom: 250px;
	}
} 

@media screen and (max-width: 361px) {
	.img-adjuster {
		margin-top: 120px;
		margin-bottom: 250px;
	}
} 


@media screen and (max-width: 281px) {
	.img-adjuster {
		margin-top: 120px;
		margin-bottom: 300px;
	}
} 



@media screen and (min-width: 800px) and (max-width: 950px) and (min-height:1000px) {
	.img-adjuster {
		margin-top: 150px;
	}
} 

@media screen and (min-width: 1000px) {
	
	.img-adjuster {
		margin-top: -20px;
	}
} 